<p>
  {{link-to "User-balance list" "user-balances.index" }}
</p>

<h1>User-balance show</h1>

<p>
  <strong>User:</strong>
  <span>{{model.user}}</span>
</p>

<p>
  <strong>Cashavailable:</strong>
  <span>{{model.cashAvailable}}</span>
</p>

<p>
  <strong>Price:</strong>
  <span>{{model.price}}</span>
</p>

<p>
  <strong>Closepl:</strong>
  <span>{{model.closePl}}</span>
</p>

<p>
  <strong>Currentrequirement:</strong>
  <span>{{model.currentRequirement}}</span>
</p>

<p>
  <strong>Daytradebuyingpower:</strong>
  <span>{{model.dayTradeBuyingPower}}</span>
</p>

<p>
  <strong>Dividendbalance:</strong>
  <span>{{model.dividendBalance}}</span>
</p>

<p>
  <strong>Equity:</strong>
  <span>{{model.equity}}</span>
</p>

<p>
  <strong>Fedcall:</strong>
  <span>{{model.fedCall}}</span>
</p>

<p>
  <strong>Longliquidvalue:</strong>
  <span>{{model.longLiquidValue}}</span>
</p>

<p>
  <strong>Longmarketvalue:</strong>
  <span>{{model.longMarketValue}}</span>
</p>

<p>
  <strong>Maintenancecall:</strong>
  <span>{{model.maintenanceCall}}</span>
</p>

<p>
  <strong>Marketvalue:</strong>
  <span>{{model.marketValue}}</span>
</p>

<p>
  <strong>Netvalue:</strong>
  <span>{{model.netValue}}</span>
</p>

<p>
  <strong>Openpl:</strong>
  <span>{{model.openPl}}</span>
</p>

<p>
  <strong>Optionbuyingpower:</strong>
  <span>{{model.optionBuyingPower}}</span>
</p>

<p>
  <strong>Optionlongvalue:</strong>
  <span>{{model.optionLongValue}}</span>
</p>

<p>
  <strong>Optionrequirement:</strong>
  <span>{{model.optionRequirement}}</span>
</p>

<p>
  <strong>Optionshortvalue:</strong>
  <span>{{model.optionShortValue}}</span>
</p>

<p>
  <strong>Pendingcash:</strong>
  <span>{{model.pendingCash}}</span>
</p>

<p>
  <strong>Pendingorderscount:</strong>
  <span>{{model.pendingOrdersCount}}</span>
</p>

<p>
  <strong>Sweep:</strong>
  <span>{{model.sweep}}</span>
</p>

<p>
  <strong>Shortliquidvalue:</strong>
  <span>{{model.shortLiquidValue}}</span>
</p>

<p>
  <strong>Shortmarketvalue:</strong>
  <span>{{model.shortMarketValue}}</span>
</p>

<p>
  <strong>Stockbuyingpower:</strong>
  <span>{{model.stockBuyingPower}}</span>
</p>

<p>
  <strong>Stocklongvalue:</strong>
  <span>{{model.stockLongValue}}</span>
</p>

<p>
  <strong>Stockshortvalue:</strong>
  <span>{{model.stockShortValue}}</span>
</p>

<p>
  <strong>Unclearedfunds:</strong>
  <span>{{model.unclearedFunds}}</span>
</p>

<p>
  <strong>Unsettledfunds:</strong>
  <span>{{model.unsettledFunds}}</span>
</p>

<p>
  <strong>Totalcash:</strong>
  <span>{{model.totalCash}}</span>
</p>

<p>
  <strong>Totalequity:</strong>
  <span>{{model.totalEquity}}</span>
</p>

<p>
  <strong>Createdat:</strong>
  <span>{{model.createdAt}}</span>
</p>

<p>
  <strong>Updatedat:</strong>
  <span>{{model.updatedAt}}</span>
</p>

