<p>
  {{link-to "User list" "users.index" }}
</p>

<h1>User show</h1>

<p>
  <strong>Id:</strong>
  <span>{{model.id}}</span>
</p>

<p>
  <strong>Account number:</strong>
  <span>{{model.accountNumber}}</span>
</p>

<p>
  <strong>Day trader:</strong>
  <span>{{model.dayTrader}}</span>
</p>

<p>
  <strong>Option level:</strong>
  <span>{{model.optionLevel}}</span>
</p>

<p>
  <strong>Type:</strong>
  <span>{{model.type}}</span>
</p>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Status:</strong>
  <span>{{model.status}}</span>
</p>

<p>
  <strong>Classification:</strong>
  <span>{{model.classification}}</span>
</p>

<p>
  <strong>Last update:</strong>
  <span>{{model.lastUpdate}}</span>
</p>

