<p>
  {{link-to "User-costbasis list" "user-costbases.index" }}
</p>

<h1>User-costbasis show</h1>

<p>
  <strong>User:</strong>
  <span>{{model.user}}</span>
</p>

<p>
  <strong>Closedate:</strong>
  <span>{{model.closeDate}}</span>
</p>

<p>
  <strong>Cost:</strong>
  <span>{{model.cost}}</span>
</p>

<p>
  <strong>Price:</strong>
  <span>{{model.price}}</span>
</p>

<p>
  <strong>Gainloss:</strong>
  <span>{{model.gainLoss}}</span>
</p>

<p>
  <strong>Gainlosspercent:</strong>
  <span>{{model.gainLossPercent}}</span>
</p>

<p>
  <strong>Opendate:</strong>
  <span>{{model.openDate}}</span>
</p>

<p>
  <strong>Proceeds:</strong>
  <span>{{model.proceeds}}</span>
</p>

<p>
  <strong>Quantity:</strong>
  <span>{{model.quantity}}</span>
</p>

<p>
  <strong>Symbol:</strong>
  <span>{{model.symbol}}</span>
</p>

<p>
  <strong>Term:</strong>
  <span>{{model.term}}</span>
</p>

<p>
  <strong>Createdat:</strong>
  <span>{{model.createdAt}}</span>
</p>

<p>
  <strong>Updatedat:</strong>
  <span>{{model.updatedAt}}</span>
</p>

