<form {{action "save" on="submit"}}>
  <div>
    <label>
      Type
      {{input type="text" value=model.type}}
    </label>
  </div>
  <div>
    <label>
      Symbol
      {{input type="text" value=model.symbol}}
    </label>
  </div>
  <div>
    <label>
      Exch
      {{input type="text" value=model.exch}}
    </label>
  </div>
  <div>
    <label>
      Price
      {{input type="text" value=model.price}}
    </label>
  </div>
  <div>
    <label>
      Size
      {{input type="text" value=model.size}}
    </label>
  </div>
  <div>
    <label>
      Cvol
      {{input type="text" value=model.cvol}}
    </label>
  </div>
  <div>
    <label>
      Date
      {{input type="text" value=model.date}}
    </label>
  </div>
  <div>
    <label>
      Bid
      {{input type="text" value=model.bid}}
    </label>
  </div>
  <div>
    <label>
      Bidsz
      {{input type="text" value=model.bidsz}}
    </label>
  </div>
  <div>
    <label>
      Bidexch
      {{input type="text" value=model.bidexch}}
    </label>
  </div>
  <div>
    <label>
      Biddate
      {{input type="text" value=model.biddate}}
    </label>
  </div>
  <div>
    <label>
      Ask
      {{input type="text" value=model.ask}}
    </label>
  </div>
  <div>
    <label>
      Asksz
      {{input type="text" value=model.asksz}}
    </label>
  </div>
  <div>
    <label>
      Askexch
      {{input type="text" value=model.askexch}}
    </label>
  </div>
  <div>
    <label>
      Askdate
      {{input type="text" value=model.askdate}}
    </label>
  </div>
  <div>
    <label>
      Open
      {{input type="text" value=model.open}}
    </label>
  </div>
  <div>
    <label>
      High
      {{input type="text" value=model.high}}
    </label>
  </div>
  <div>
    <label>
      Low
      {{input type="text" value=model.low}}
    </label>
  </div>
  <div>
    <label>
      Prevclose
      {{input type="text" value=model.prevClose}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
