<p>
  {{link-to "Market event list" "market-events.index" }}
</p>

<h1>Market event show</h1>

<p>
  <strong>Type:</strong>
  <span>{{model.type}}</span>
</p>

<p>
  <strong>Symbol:</strong>
  <span>{{model.symbol}}</span>
</p>

<p>
  <strong>Exch:</strong>
  <span>{{model.exch}}</span>
</p>

<p>
  <strong>Price:</strong>
  <span>{{model.price}}</span>
</p>

<p>
  <strong>Size:</strong>
  <span>{{model.size}}</span>
</p>

<p>
  <strong>Cvol:</strong>
  <span>{{model.cvol}}</span>
</p>

<p>
  <strong>Date:</strong>
  <span>{{model.date}}</span>
</p>

<p>
  <strong>Bid:</strong>
  <span>{{model.bid}}</span>
</p>

<p>
  <strong>Bidsz:</strong>
  <span>{{model.bidsz}}</span>
</p>

<p>
  <strong>Bidexch:</strong>
  <span>{{model.bidexch}}</span>
</p>

<p>
  <strong>Biddate:</strong>
  <span>{{model.biddate}}</span>
</p>

<p>
  <strong>Ask:</strong>
  <span>{{model.ask}}</span>
</p>

<p>
  <strong>Asksz:</strong>
  <span>{{model.asksz}}</span>
</p>

<p>
  <strong>Askexch:</strong>
  <span>{{model.askexch}}</span>
</p>

<p>
  <strong>Askdate:</strong>
  <span>{{model.askdate}}</span>
</p>

<p>
  <strong>Open:</strong>
  <span>{{model.open}}</span>
</p>

<p>
  <strong>High:</strong>
  <span>{{model.high}}</span>
</p>

<p>
  <strong>Low:</strong>
  <span>{{model.low}}</span>
</p>

<p>
  <strong>Prevclose:</strong>
  <span>{{model.prevClose}}</span>
</p>

