<h1>User-balances list</h1>

<p>
  {{link-to "New User-balance" "user-balances.new" }}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr>
        <th>
          User
        </th>
        <th>
          Cashavailable
        </th>
        <th>
          Price
        </th>
        <th>
          Closepl
        </th>
        <th>
          Currentrequirement
        </th>
        <th>
          Daytradebuyingpower
        </th>
        <th>
          Dividendbalance
        </th>
        <th>
          Equity
        </th>
        <th>
          Fedcall
        </th>
        <th>
          Longliquidvalue
        </th>
        <th>
          Longmarketvalue
        </th>
        <th>
          Maintenancecall
        </th>
        <th>
          Marketvalue
        </th>
        <th>
          Netvalue
        </th>
        <th>
          Openpl
        </th>
        <th>
          Optionbuyingpower
        </th>
        <th>
          Optionlongvalue
        </th>
        <th>
          Optionrequirement
        </th>
        <th>
          Optionshortvalue
        </th>
        <th>
          Pendingcash
        </th>
        <th>
          Pendingorderscount
        </th>
        <th>
          Sweep
        </th>
        <th>
          Shortliquidvalue
        </th>
        <th>
          Shortmarketvalue
        </th>
        <th>
          Stockbuyingpower
        </th>
        <th>
          Stocklongvalue
        </th>
        <th>
          Stockshortvalue
        </th>
        <th>
          Unclearedfunds
        </th>
        <th>
          Unsettledfunds
        </th>
        <th>
          Totalcash
        </th>
        <th>
          Totalequity
        </th>
        <th>
          Createdat
        </th>
        <th>
          Updatedat
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |user-balance|}}
        <tr>
          <td>
            {{user-balance.user}}
          </td>
          <td>
            {{user-balance.cashAvailable}}
          </td>
          <td>
            {{user-balance.price}}
          </td>
          <td>
            {{user-balance.closePl}}
          </td>
          <td>
            {{user-balance.currentRequirement}}
          </td>
          <td>
            {{user-balance.dayTradeBuyingPower}}
          </td>
          <td>
            {{user-balance.dividendBalance}}
          </td>
          <td>
            {{user-balance.equity}}
          </td>
          <td>
            {{user-balance.fedCall}}
          </td>
          <td>
            {{user-balance.longLiquidValue}}
          </td>
          <td>
            {{user-balance.longMarketValue}}
          </td>
          <td>
            {{user-balance.maintenanceCall}}
          </td>
          <td>
            {{user-balance.marketValue}}
          </td>
          <td>
            {{user-balance.netValue}}
          </td>
          <td>
            {{user-balance.openPl}}
          </td>
          <td>
            {{user-balance.optionBuyingPower}}
          </td>
          <td>
            {{user-balance.optionLongValue}}
          </td>
          <td>
            {{user-balance.optionRequirement}}
          </td>
          <td>
            {{user-balance.optionShortValue}}
          </td>
          <td>
            {{user-balance.pendingCash}}
          </td>
          <td>
            {{user-balance.pendingOrdersCount}}
          </td>
          <td>
            {{user-balance.sweep}}
          </td>
          <td>
            {{user-balance.shortLiquidValue}}
          </td>
          <td>
            {{user-balance.shortMarketValue}}
          </td>
          <td>
            {{user-balance.stockBuyingPower}}
          </td>
          <td>
            {{user-balance.stockLongValue}}
          </td>
          <td>
            {{user-balance.stockShortValue}}
          </td>
          <td>
            {{user-balance.unclearedFunds}}
          </td>
          <td>
            {{user-balance.unsettledFunds}}
          </td>
          <td>
            {{user-balance.totalCash}}
          </td>
          <td>
            {{user-balance.totalEquity}}
          </td>
          <td>
            {{user-balance.createdAt}}
          </td>
          <td>
            {{user-balance.updatedAt}}
          </td>
          <td>
            {{link-to "Edit" "user-balances.edit" user-balance}}
          </td>
          <td>
            {{link-to "Show" "user-balances.show" user-balance}}
          </td>
          <td>
            <a href="#" {{action "remove" user-balance}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No User-balances found
  </p>
{{/if}}
