<p>
  {{link-to "Stock list" "stocks.index" }}
</p>

<h1>{{model.exchange_name}}: {{model.symbol}}</h1>
<h3>{{model.description}}</h3>

<p>
  <strong>Change:</strong>
  <span>{{model.change}}</span>
</p>

<p>
  <strong>Change percentage:</strong>
  <span>{{model.changePercentage}}</span>
</p>

<p>
  <strong>Volume:</strong>
  <span>{{model.volume}}</span>
</p>

<p>
  <strong>Average volume:</strong>
  <span>{{model.averageVolume}}</span>
</p>

<p>
  <strong>Last volume:</strong>
  <span>{{model.lastVolume}}</span>
</p>

<p>
  <strong>Trade date:</strong>
  <span>{{model.tradeDate}}</span>
</p>

<p>
  <strong>Open:</strong>
  <span>{{model.open}}</span>
</p>

<p>
  <strong>High:</strong>
  <span>{{model.high}}</span>
</p>

<p>
  <strong>Low:</strong>
  <span>{{model.low}}</span>
</p>

<p>
  <strong>Close:</strong>
  <span>{{model.close}}</span>
</p>

<p>
  <strong>Prevclose:</strong>
  <span>{{model.prevclose}}</span>
</p>

<p>
  <strong>Week 52 high:</strong>
  <span>{{model.week52High}}</span>
</p>

<p>
  <strong>Week 52 low:</strong>
  <span>{{model.week52Low}}</span>
</p>

<p>
  <strong>Bid:</strong>
  <span>{{model.bid}}</span>
</p>

<p>
  <strong>Bidsize:</strong>
  <span>{{model.bidsize}}</span>
</p>

<p>
  <strong>Bidexch:</strong>
  <span>{{model.bidexch}}</span>
</p>

<p>
  <strong>Bid date:</strong>
  <span>{{model.bidDate}}</span>
</p>

<p>
  <strong>Ask:</strong>
  <span>{{model.ask}}</span>
</p>

<p>
  <strong>Asksize:</strong>
  <span>{{model.asksize}}</span>
</p>

<p>
  <strong>Askexch:</strong>
  <span>{{model.askexch}}</span>
</p>

<p>
  <strong>Ask date:</strong>
  <span>{{model.askDate}}</span>
</p>

