<form {{action "save" on="submit"}}>
  <div>
    <label>
      Symbol
      {{input type="text" value=model.symbol}}
    </label>
  </div>
  <div>
    <label>
      Description
      {{input type="text" value=model.description}}
    </label>
  </div>
  <div>
    <label>
      Exch
      {{input type="text" value=model.exch}}
    </label>
  </div>
  <div>
    <label>
      Type
      {{input type="text" value=model.type}}
    </label>
  </div>
  <div>
    <label>
      Change
      {{input type="text" value=model.change}}
    </label>
  </div>
  <div>
    <label>
      Change percentage
      {{input type="text" value=model.changePercentage}}
    </label>
  </div>
  <div>
    <label>
      Volume
      {{input type="text" value=model.volume}}
    </label>
  </div>
  <div>
    <label>
      Average volume
      {{input type="text" value=model.averageVolume}}
    </label>
  </div>
  <div>
    <label>
      Last volume
      {{input type="text" value=model.lastVolume}}
    </label>
  </div>
  <div>
    <label>
      Trade date
      {{input type="text" value=model.tradeDate}}
    </label>
  </div>
  <div>
    <label>
      Open
      {{input type="text" value=model.open}}
    </label>
  </div>
  <div>
    <label>
      High
      {{input type="text" value=model.high}}
    </label>
  </div>
  <div>
    <label>
      Low
      {{input type="text" value=model.low}}
    </label>
  </div>
  <div>
    <label>
      Close
      {{input type="text" value=model.close}}
    </label>
  </div>
  <div>
    <label>
      Prevclose
      {{input type="text" value=model.prevclose}}
    </label>
  </div>
  <div>
    <label>
      Week 52 high
      {{input type="text" value=model.week52High}}
    </label>
  </div>
  <div>
    <label>
      Week 52 low
      {{input type="text" value=model.week52Low}}
    </label>
  </div>
  <div>
    <label>
      Bid
      {{input type="text" value=model.bid}}
    </label>
  </div>
  <div>
    <label>
      Bidsize
      {{input type="text" value=model.bidsize}}
    </label>
  </div>
  <div>
    <label>
      Bidexch
      {{input type="text" value=model.bidexch}}
    </label>
  </div>
  <div>
    <label>
      Bid date
      {{input type="text" value=model.bidDate}}
    </label>
  </div>
  <div>
    <label>
      Ask
      {{input type="text" value=model.ask}}
    </label>
  </div>
  <div>
    <label>
      Asksize
      {{input type="text" value=model.asksize}}
    </label>
  </div>
  <div>
    <label>
      Askexch
      {{input type="text" value=model.askexch}}
    </label>
  </div>
  <div>
    <label>
      Ask date
      {{input type="text" value=model.askDate}}
    </label>
  </div>
  <div>
    <label>
      Open interest
      {{input type="text" value=model.openInterest}}
    </label>
  </div>
  <div>
    <label>
      Underlying
      {{input type="text" value=model.underlying}}
    </label>
  </div>
  <div>
    <label>
      Strike
      {{input type="text" value=model.strike}}
    </label>
  </div>
  <div>
    <label>
      Contract size
      {{input type="text" value=model.contractSize}}
    </label>
  </div>
  <div>
    <label>
      Expiration date
      {{input type="text" value=model.expirationDate}}
    </label>
  </div>
  <div>
    <label>
      Expiration type
      {{input type="text" value=model.expirationType}}
    </label>
  </div>
  <div>
    <label>
      Option type
      {{input type="text" value=model.optionType}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
