<h1>Stocks list</h1>

<p>
  {{link-to "New Stock" "stocks.new" }}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr>
        <th>
          Symbol
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |stock|}}
        <tr>
          <td>
            {{stock.symbol}}
          </td>
          <td>
            {{link-to "Edit" "stocks.edit" stock}}
          </td>
          <td>
            {{link-to "Show" "stocks.show" stock}}
          </td>
          <td>
            <a href="#" {{action "remove" stock}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Stocks found
  </p>
{{/if}}
